﻿@model Exception

@{
    ViewBag.Title = "Oops!";
}
<div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <span class="inner-status">Opps! Internal Server Error!</span>
                <span class="inner-detail">Unfortunately we're having trouble loading the page you are looking for. Please come back in a while.</span>
                <!--END CONTENT-->
                <div>
                    <a asp-action="Index" asp-controller="ToDo">Go Back to Home</a>
                </div>
            </div>
        </div>
    </div>
@if (Model != null)
{
    @Html.ValueFor(model => model.Message)
}