﻿@model ToDoManagement.UI.Models.ToDoModel
@section Styles{

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <link href="~/css/todo.css" rel="stylesheet" />
}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage <b>To Do</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addToDoModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New To Do</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover" id="myTable">
                <thead>
                    <tr>

                        <th>Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Created Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ToDoList != null && Model.ToDoList.ToList().Count > 0)
                    {

                        @foreach (var item in Model.ToDoList)
                        {
                            <tr>

                                <td>@item.Name</td>
                                <td>@item.Description</td>
                                <td>@item.DueDate</td>
                                <td>@item.DateCreated</td>
                                <td>
                                    <a onclick="EditToDo('@item.Id')" href="#editToDoModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                    <a asp-controller="ToDo" asp-action="DeleteToDo" asp-route-id="@item.Id" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Modal HTML -->
<div id="addToDoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="ToDo" asp-action="CreateToDo" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Add To Do</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input asp-for="CreateToDo.Name" type="text" class="form-control" required>
                        <span class="text-danger" asp-validation-for="CreateToDo.Name"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="CreateToDo.Description" class="form-control" required></textarea>
                        <span class="text-danger" asp-validation-for="CreateToDo.Description"></span>

                    </div>
                    <div class="form-group">
                        <label>Due Date</label>
                        <input asp-for="CreateToDo.DueDate" type="date" class="form-control" required>
                        <span class="text-danger" asp-validation-for="CreateToDo.DueDate"></span>

                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editToDoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="ToDo" asp-action="UpdateToDo" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Edit To Do</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="hidden" asp-for="UpdateToDo.Id" />
                        <input asp-for="UpdateToDo.Name" type="text" class="form-control" required>
                        <span class="text-danger" asp-validation-for="UpdateToDo.Name"></span>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea asp-for="UpdateToDo.Description" class="form-control" required></textarea>
                        <span class="text-danger" asp-validation-for="UpdateToDo.Description"></span>
                    </div>
                    <div class="form-group">
                        <label>Due Date</label>
                        <input asp-for="UpdateToDo.DueDate" type="date" class="form-control" required>
                        <span class="text-danger" asp-validation-for="UpdateToDo.DueDate"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-info" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
            function EditToDo(toDoId) {
                var serviceURL = "/ToDo/GetToDo?toDoId=" + toDoId;
                $.ajax({
                    type: "GET",
                    url: serviceURL,
                    contentType: 'application/json',
                    success: function (data) {
                        console.table(data);
                        $("#UpdateToDo_Id").val(data.id);
                        $("#UpdateToDo_Name").val(data.name);
                        $("#UpdateToDo_Description").val(data.description);
                        var toDoDate = data.dueDate.split('T')[0];
                        $("#UpdateToDo_DueDate").val(toDoDate);
                    },
                    error: function (error) {
                        alert(error);
                    }
                });
            }
    </script>
}

